

<!-- n g c component-name
      n g m module-name
     n g m module-name/component.. // component in module
    n g build .. // when we wnat to live our website we create build.. build create minified file of our project -->

<!-- <p>practice works! {{getName()}} </p>
<button (click)="clickMe()">click me</button>
<br />

<button (click)="dataPass('data recieve asna')"> click2</button>
<br />

<button (click)="numPass(1234 ,'asna')"> number</button>
<br />

<input type="text"  (keyup)="event('key')" placeholder="keyup" /> 
<br />

<input type="text" #down (keydown)="event(down.value)" placeholder="keydown" /> 
<br />

<input type="text" #blur (keyblur)="event(blur.value)" placeholder="keyblur" /> 

<br />
<h1 (mouseover)="event('over')">mouseOver</h1>
<br />

<h1 (mouseleave)="event('leave')">mouseLeave</h1>
 <h1 (mouseover)="color()">mouseOver</h1> -->
<!-- <input type="text"
#id
/>
<p> diaplay name when button will click :{{variable}} </p>
<button (click)="getName2(id.value)" >click</button>

<button (click)="counter('add')" >++</button>
<button (click)="counter('minus')"> --</button>
<p> {{count}} </p>

 global css... similar css
component css .... only component
internal css --> 

<!-- interpolation only consider string number 
property binding use to change  property or attribute or consider true false boolean 

[disabled]= bool-->


<h1  *ngIf= "color==='red'"> i am red</h1>
<h1  *ngIf= "color==='blue'"> i am blue</h1>